/* Global Styles */

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Ensure body doesn't bounce horizontally */
body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

/* Smooth scrolling for the whole app */
* {
    scroll-behavior: smooth;
}
